/.dub
/docs.json
/docs/
/__dummy.html
*.o
*.obj
*.dll
*.so
*.exe
*.exe.nolib
*.sublime-*
/savestates.db*
/linux-save-state
/dub.userprefs
/dub.selections.json
/source-c/tracee/gl/gl-generated.c
/source-c/tracee/gl/gl-generated.h
/source-c/tracee/gl.xml
/source/gl.d
/resources/gl.xml
/resources/gl-list.csv